{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>Базовый бисквит</title>
	</head>
<body bgcolor="FFEBB2">
  <header>
    <a href="{% url 'recepies' %}">Recepies</a> | <a href="{% url 'vanilla' %}">Vanilla</a> | <a href="{% url 'chocolate' %}">Chocolate</a> | <a href="{% url 'red-velvet' %}">Red Velvet</a> | <a href="{% url 'cream' %}">Cream-cheese</a>
  </header>
 <font align="center"> <p style="font-size:70px;">  Базовый крем </p>
</font>
<img src="{% static 'images/n1.jpg' %}" width="950" height="650" align="right" >
<font align="left"> <p style="font-size:60px;">  Что нужно: <br>

</font>
<font align="left"> <p style="font-size:40px;">
Масло сливочное 82,5% — 100  г <br>
Пудра сахарная — 100 г <br>
Натур. экстракт ванили — 5 г <br>
Творожный сыр Cremette или Mascarpone— 300 г  </p>
<br><br>

</font>

</font>
<font align="left"> <p style="font-size:40px;">
1)Для начала порубите холодное масло (100 г, из холодильника) на кубики в 5-9 мм, добавьте сахарную пудру (100 г). Используйте пудру с добавками, они помогают избежать комочков, она не сваливается и остаётся рассыпчатой. Взбивайте пудру и масло на высокой скорости до состояния однородной пасты.<br>
Обратите внимание, что каждую минуту, что вы взбиваете масло и пудру, они становятся белее. Если вы хотите получить белый крем, просто взбивайте масло и пудру дольше. Второй плюс, паста становится всё более послушной и однородной.
 </p></font>

<img src="{% static 'images/n2.jpg' %}" width="750" height="550" >
<img src="{% static 'images/n3.jpg' %}" width="750" height="550">

<font align="left"> <p style="font-size:40px;">
Важно на этом этапе добавить натуральный экстракт ванили (5 г). <br>
Когда размешаете экстракт, добавьте творожный сыр (300 г). Добейтесь однородности миксером.
<br>
 Можно добавить 50 г фруктового пюре или какао, можно добавить 30 г сублиматов или 30-40 г ореховой пасты или урбеча. <br> Крем готов к использованию. </p>


</font>
<img src="{% static 'images/n4.jpg' %} " width="750" height="550">
<img src="{% static 'images/n5.jpg' %} " width="750" height="550"> 
 </body> 
 </html>