{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>Шоколадный бисквит</title>
	</head>
<body bgcolor="FFEBB2">
  {% extends 'base.html' %}

  {% block content %}
 <font align="center"> <p style="font-size:70px;">  Простейший шоколадный бисквит </p>
</font>
<img src="{% static images/c1.jpg %}" width="850" height="650" align="right" >
<font align="left"> <p style="font-size:40px;">  Что нужно: <br>

</font>
<font align="left"> <p style="font-size:30px;">
Мука — 235 гр. <br>
Сода — 7 г <br>
Соль — 1 ч.л. <br>
Какао-порошок — 65 гр. <br>
Сахар — 300 гр. <br>
Яйца — 2 шт. <br>
Сливочное масло — 60 гр. <br>
Оливковое масло — 60 гр. <br>
Ванильный экстракт — 2 ч.л. <br>
Молоко — 260 мл. <br>
Винный уксус — 1 ст.л.  </p>
<br><br>

</font>

</font>
<font align="left"> <p style="font-size:30px;">
1)Никаких сложных техник здесь нет ВООБЩЕ, единственное условие — уксус добавляем в самом конце. Поехали. Соедините муку (235 г), соду (7 г), соль , сахар (300 г) и алкализованое какао (65 г).
<br>
2)Следом отправляем два яйца, мягкое сливочное масло (60 г), оливковое масло (60 г, можно другое растительное), ванильный экстракт (10 г, если нет экстракта, не заменяйте ни чем, просто пропустите), молоко и винный уксус . Можете взять яблочный, грушевый, другие варианты, НО не бальзамический, главное не супер сильный (берите до 6%).
<br>
3)Теперь всё, что нам нужно, это хорошо перемешать все ингредиенты миксером. Сначала появятся комки, разводы масляных пятен, но через 3-4 минуты масса станет гладкой, однородной и глянцевой.
Как я уже писал, делаем в форме от 16 до 20 см. ВАЖНО! Тесто удвоится в объеме, поэтому не вздумайте наливать тесто больше, чем до половины формы. Форму смазываем маслом. На дно я всегда кладу пергамент, просто так не нужно долго мучаться с выниманием коржа.
Идеально подойдут металлические кольца на 16 или 18 см, а также разъемные формы или цельные. <br> </p>
</font> 
<img src="{% static images/c2.jpg %}" width="850" height="550" >
<img src="{% static images/c3.jpg %}" width="850" height="550" ><font align="left"> <p style="font-size:30px;">
4)Выпекайте при 155 градусах примерно 50-90 минут. Поначалу корж будет активно расти, затем успокоится. Сверху может появиться бугорок, и даже, возможно, треснет — не пугайтесь, это хорошо, мы получаем пористую структуру.
Как обычно, проверяем деревянной шпажкой. Она должна выходить сухой. То есть минут через 40 начинаем проверять каждые 5 минут.
<br>
Готовый корж почти сразу будет выходить из формы. Аккуратно переложите его на металлическую решетку.</p>
</font> 


<font align="left"> <p style="font-size:30px;">
 
Если коржи доживут до момента сборки торта, используйте любой крем, я сверху просто полила ганашем (сливки + чёрный! шоколад в соотношении 1:1)  и посыпала голубикой). Приятного аппетита! <br>
</p>

</font>


<img src="{% static images/c4.jpg %}" width="750" height="950"  > {% endblock %}
 </body> 
 </html>