{% load static %}
 <!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>recepies</title>
	</head>
<body bgcolor="FFEBB2">{% extends 'base.html' %}

{% block content %}
 <font align="center"> <p style="font-size:70px;">  Блог о рецептах тортов </p>
</font>
 <font align="left"> <p style="font-size:30px;">  Рецепты </p>
</font> 

<h1>Главная</h1>

<img src="{% static 'images/cake1.jpg' %}" width="630" height="650" margin=5px>
<img src="{% static 'images/cake2.jpg' %}" width="630" height="650" margin=5px>
<img src="{% static 'images/cake3.jpg' %}" width="622.5" height="650" align="right">
{% endblock %}
 </body> 
 </html>