 <!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>recepies</title>
	</head>
<body bgcolor="FFEBB2">
 <font align="center"> <p style="font-size:70px;">  Блог о рецептах тортов </p>
</font>
 <font align="left"> <p style="font-size:30px;">  Рецепты </p>
</font>
<a href="vanilla-biscuit.html"> <font align="left"> <p style="font-size:30px;"> Ванильный бисквит</p>
</font></a>
<a href="chocolate-biscuit.html"> <font align="left"> <p style="font-size:30px;"> Шоколадный бисквит</p>
</font></a>
<a href="red-velvet-cake.html"> <font align="left"> <p style="font-size:30px;"> Красный бархат</p>
</font></a>
<a href="base-cream-cheese.html"> <font align="left"> <p style="font-size:30px;"> Базовый крем</p>
</font></a>
<img src="images/cake1.jpg" width="630" height="650" margin=5px>
<img src="images/cake2.jpg" width="630" height="650" margin=5px>
<img src="images/cake3.jpg" width="622.5" height="650" align="right">

 </body> 
 </html>