{% load static %}

 <!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>recepies</title>
	</head>
<body bgcolor="FFEBB2">
 <font align="center"> <p style="font-size:70px;">  Блог о рецептах тортов </p>
</font>
 
<header>
  <a href="{% url 'recepies' %}">Recepies</a> | <a href="{% url 'vanilla' %}">Vanilla</a> | <a href="{% url 'chocolate' %}">Chocolate</a> | <a href="{% url 'red-velvet' %}">Red Velvet</a> | <a href="{% url 'cream' %}">Cream-cheese</a>
</header>

<br>
<a href="{% url 'chocolate' %}">
<img src="{% static 'images/cake1.jpg' %}" width="33%"  margin=5px></a>
<a href="{% url 'vanilla' %}">
<img src="{% static 'images/cake2.jpg' %}" width="33%"  margin=5px></a>
<a href="{% url 'cream' %}">
<img src="{% static 'images/cake3.jpg' %}" width="33%" ></a>
 </body> 
 </html>