{% load static %}
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8" />
      <title>Торт Красный бархат</title>
	</head>
<body bgcolor="FFEBB2">
  <header>
    <a href="{% url 'recepies' %}">Recepies</a> | <a href="{% url 'vanilla' %}">Vanilla</a> | <a href="{% url 'chocolate' %}">Chocolate</a> | <a href="{% url 'red-velvet' %}">Red Velvet</a> | <a href="{% url 'cream' %}">Cream-cheese</a>
  </header>

  <font align="center"> <p style="font-size:70px;"> Яркий торт Красный бархат </p>
</font>


<img src="{% static 'images/r1.jpg' %}" width="850" height="650" align="right" >
<font align="left"> <p style="font-size:40px;">  Что нужно: <br>

</font>
<font align="left"> <p style="font-size:30px;">
Мука — 340 г <br>
Сахар — 300 г <br>
Какао — 5 г <br>
Соль — 1/4 ч.л. <br>
Разрыхлитель — 5 г <br>
Сода — 3 г <br>
Яйца — 3 шт <br>
Растительное масло — 300 г <br>
Пахта/кефир — 280 г <br>
Гелевый краситель — 2 ч.л  </p>
<br><br>

</font>

</font>
<font align="left"> <p style="font-size:30px;">
1)Тесто настолько просто, что даже нет никаких критериев, какие ингредиенты когда добавлять. Я вообще не включала миксер, пока не положил финальный ингредиент. Неужели это не здорово.
<br>
2)В чаше смешайте муку (340 гр.), сахар (300 гр.), алализованое какао (5 г), 1/4 ч.л. соли, соду (3 г), разрыхлитель (5 г). 
<br>
3)Дальше три яйца, растительное масло без запаха (300 гр.). Лучше всего взять Злато подсолнечное, по опыту скажу, что его не чувствуешь потом совершенно. И эти 300 грамм потеряются в тесте.
<br>
4)В конце нужно добавить пахту (280 гр.). Я заменила её нежирными сливками 10% (150 гр.) и сметаной 20% (130 гр.), можно просто взять кефир пожирнее. И красный пищевой краситель. Самый качественный и дающий результат — CakeColor Red Red.
<br>
5)На это количество теста у меня ушло примерно 1,5-2 ч.л. гелевого красителя. Здесь не жалейте, тесто должно быть ядерно-красного цвета. Хорошо всё перемешайте миксером. 
<br>
Тесто будет довольно жидким, не пугайтесь, так и должно быть. Оставьте его минут на 10-20, всё дело в том, что соде нужно какое-то время, чтобы вступить в реакцию с молочным ингредиентом. </p>
</font>
<img src="{% static 'images/r2.jpg' %}" width="750" height="550" >
<img src="{% static 'images/r3.jpg' %}" width="750" height="550" >
<font align="left"> <p style="font-size:30px;"> 
 </p>
</font> 



<font align="left"> <p style="font-size:30px;">
 
Форму смажьте сливочным маслом, а на дно постелите пергамент. И вылейте необходимое количество теста. Я делала три коржа по 16 см. Либо это будет два по 18. Чтобы быть совсем уж профессионалами — сперва взвесьте пустую чашу, а потом чашу с готовым тестом. Путём математических вычислений вы поймёте, сколько теста выливать в форму на каждый корж.
Выпекаем при 170 градусах минут 20. Смотрите внимательно. Я на 15-й минуте стала проверять шпажкой. Как только она стала сухой выходить, вынула форму. Дайте минуты 2 остыть коржу в форме на решетке, а потом выньте аккуратно корж на решетку.

Форму остудите (я просто промываю холодной водой), снова смажьте маслом, пергамент на дно и вперёд. Когда коржи остынут, оберните каждый плёнкой и уберите в холодильник на 2 часа.

Через два часа достаньте коржи и срежьте аккуратно верхушку — скорее всего она немного поднимется в центре. 

<font align="left"> <p style="font-size:30px;">
 Крем я использовала сливочный(базовый)  он вам хорошо знаком.</p> </font>

 <font align="left"> <p style="font-size:30px;"> Сверху будет удачно отсадить розочки — этакая красная брутальность и белая нежность.

Если вы шли по моему пути, то приготовьте глубокие креманки или широкие стаканы. Обрезки коржей порвите на маленькие кусочки в 2-3 см руками, выкладывайте слой таких кусочков, сверху крем и так до самого верха. Это отличный способ утилизировать все обрезки (не только в этом рецепте). При этом вкус будет тот же, а десерта два. Приятного аппетита!
</p>
</font>


<img src="{% static 'images/r4.jpg' %}" width="750" height="850"  > 
 </body> 
 </html>